In [1]:
import requests
import pandas as pd
import json
from pprint import pprint
import api_keys
import time

In [12]:
brewery = pd.read_csv('brewery_yelp.csv', encoding='utf-8')
brewery.rename({'brewery names': 'names'}, axis=1, inplace=True)
brewery.head()

,Unnamed: 0,Unnamed: 0.1,names,business type,address,city,zip,lat,long,yelp rating,number of yelp reviews
0,0,0.0,10 Barrel Brewing - San Diego,Breweries,1501 E St,San Diego,92101.0,32.714559,-117.150229,4.5,364.0
1,1,1.0,101 North Brewing Company,Breweries,1304 Scott St,Petaluma California,94954.0,38.269950,-122.664930,4.0,64.0
2,2,2.0,13 Point Brewing Company,Breweries,8035 Broadway,Lemon Grove,91945.0,32.742786,-117.024910,4.5,35.0
3,3,3.0,14 Cannons,Breweries,31125 Via Colinas,Westlake Village,91362.0,34.153554,-118.803170,4.5,75.0
4,4,4.0,Latchkey Brewing Company,Breweries,1795 Hancock St,San Diego,92110.0,32.742469,-117.184668,5.0,24.0

In [13]:
winery = pd.read_csv('winery_yelp.csv', encoding='utf-8')
winery.rename({'winery names': 'names'}, axis=1, inplace=True)
winery.head()

,Unnamed: 0,Unnamed: 0.1,names,business type,address,city,zip,lat,long,yelp rating,number of yelp reviews
0,0,0,Dashe Cellars,Venues & Event Spaces,1951 Monarch St,Alameda,94501.0,37.780068,-122.310260,4.5,101
1,1,1,Ehrenberg Cellars,Wineries,5143 Tesla Rd,Livermore,94550.0,37.664772,-121.730827,4.0,35
2,2,2,Urban Legend Cellars,Wine Tasting Room,1951 Monarch St,Alameda,94501.0,37.780250,-122.310051,4.5,96
3,3,3,Building 43 Winery,Wineries,2440 Monarch St,Alameda,94501.0,37.785530,-122.308239,4.5,72
4,4,4,Freight & Salvage Coffeehouse,Music Venues,2020 Addison St,Berkeley,94704.0,37.870740,-122.269580,4.5,168

In [14]:
brewery_winery = pd.concat([brewery,winery],sort=True, axis=0)
brewery_winery.head()

,Unnamed: 0,Unnamed: 0.1,address,business type,city,lat,long,names,number of yelp reviews,yelp rating,zip
0,0,0.0,1501 E St,Breweries,San Diego,32.714559,-117.150229,10 Barrel Brewing - San Diego,364.0,4.5,92101.0
1,1,1.0,1304 Scott St,Breweries,Petaluma California,38.269950,-122.664930,101 North Brewing Company,64.0,4.0,94954.0
2,2,2.0,8035 Broadway,Breweries,Lemon Grove,32.742786,-117.024910,13 Point Brewing Company,35.0,4.5,91945.0
3,3,3.0,31125 Via Colinas,Breweries,Westlake Village,34.153554,-118.803170,14 Cannons,75.0,4.5,91362.0
4,4,4.0,1795 Hancock St,Breweries,San Diego,32.742469,-117.184668,Latchkey Brewing Company,24.0,5.0,92110.0

In [15]:
brewery_winery.to_csv('brewery_winery_yelp.csv', encoding='utf-8')

brewery_winery.head()

,Unnamed: 0,Unnamed: 0.1,address,business type,city,lat,long,names,number of yelp reviews,yelp rating,zip
0,0,0.0,1501 E St,Breweries,San Diego,32.714559,-117.150229,10 Barrel Brewing - San Diego,364.0,4.5,92101.0
1,1,1.0,1304 Scott St,Breweries,Petaluma California,38.269950,-122.664930,101 North Brewing Company,64.0,4.0,94954.0
2,2,2.0,8035 Broadway,Breweries,Lemon Grove,32.742786,-117.024910,13 Point Brewing Company,35.0,4.5,91945.0
3,3,3.0,31125 Via Colinas,Breweries,Westlake Village,34.153554,-118.803170,14 Cannons,75.0,4.5,91362.0
4,4,4.0,1795 Hancock St,Breweries,San Diego,32.742469,-117.184668,Latchkey Brewing Company,24.0,5.0,92110.0